* annex.backend=MD5E
**/.git* annex.largefiles=nothing

# Only annex files in these directories
* annex.largefiles=nothing
atlases/** annex.largefiles=anything
derivatives/** annex.largefiles=anything
sourcedata/** annex.largefiles=anything
